.page_background {
    background-color: rgb(159, 248, 244);
    background: radial-gradient(at center, rgb(5,74,145),rgb(237, 184, 245));
    font-family: "Roboto", Tahoma, Helvetica, Verdana, sans-serif;
    text-align: center;
    overflow: auto;
    margin: 0;
}