.screen {
    position: relative;
    display: block;
    z-index: 10;
    box-shadow: 8px 8px 0 rgb(0 0 0 / 15%);
    overflow: hidden;
}

.bar {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ddd;
    width: 100%;
    color: #6a6a6a;
    z-index: 10;
}

.content {
    background-size: cover;
    padding-top: 50%;
    position: relative;
    background-position: center center;
    display: block;
    width: 100%;
    border-radius: 0;
    -moz-transform-style: flat;
    -webkit-transform-style: flat;
    transform-style: flat;
}

picture {
    position: absolute;
    top: 0;
    left: 0;
}

img {
    max-width: 100%;
    max-height:100%;
}

.imgs {
    left: -2px;
    width: calc(100% + 4px);
    border-radius: 0;
    z-index: 3;
    overflow: hidden;
}

.redbubble{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
}

.yellowbubble {
    height: 12px;
    width: 12px;
    display: inline-block;
    content: " ";
    background-color: #ffbd2e;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 28px;
}

.greenbubble {
    height: 12px;
    width: 12px;
    display: inline-block;
    content: " ";
    background-color: #28ca41;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 46px;
}

.githubbanner{
    background-color: transparent;
    background-image: url(https://caferati.me/images/github.svg);
    background-size: cover;
    /* display: block; */
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 1001;
    text-indent: -9999em;
    -moz-transition: -moz-transform .5s cubic-bezier(.2,0,0,1);
    -o-transition: -o-transform .5s cubic-bezier(.2,0,0,1);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.2,0,0,1);
    transition: transform .5s cubic-bezier(.2,0,0,1);
}

.freshbanner{
    background-color: transparent;
    background-image: url(https://caferati.me/images/fresh.svg);
    background-size: cover;
    /* display: block; */
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 1001;
    text-indent: -9999em;
    -moz-transition: -moz-transform .5s cubic-bezier(.2,0,0,1);
    -o-transition: -o-transform .5s cubic-bezier(.2,0,0,1);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.2,0,0,1);
    transition: transform .5s cubic-bezier(.2,0,0,1);
}